html, body {
    margin: 0;
    height: 100%; 
    color: #000000;
  }
  
  .heading{
  color: #000000;
  }

  .paymentForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; 
    width: 100%;
  }
  
  .paymentForm label {
    display: block;
    margin-bottom: 5px;
  }

  .paymentForm select {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    color: #000000;
  }
  
  .paymentFormBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    background-color: #fd8087;
    color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin-top: 15px; 
  }
  
  .sub-heading{
  color: #000000;
  font-size: 32px;
  }
  

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 15px;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}
  
  .container img {
    width: 150px;
    height: auto;
  }
  
  .container input {
    padding: 10px;
    width: 250px;  
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     color: #000000;
  }
  
  .container label {
    font-weight: bold;
     color: #000000;
  }
  
  
  .container input::placeholder {
    color: #888888;       
    opacity: 1;        
  }
  
 
  
  