.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 15px;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  max-width: 300px; 
}

.form input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  color: #000000;
}

.form label {
  font-weight: bold;
  color: #000000;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.loginBtn {
  background-color: #fea613;
  color: white;
}

.resetBtn {
  background-color: #999;
  color: white;
}

.signupBtn {
  background-color: #fd8087;
  color: white;
  margin-top: 10px;
}
