html, body {
  margin: 0;
  height: 100%; 
}

.heading, h3{
color: #000000;
}

.sub-heading{
color: #000000;
font-size: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 15px;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.container img {
  width: 150px;
  height: auto;
}

.container input {
  padding: 10px;
  width: 250px;  
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
   color: #000000;
}

.container label {
  font-weight: bold;
   color: #000000;
}

.container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}

.container input::placeholder {
  color: #888888;       
  opacity: 1;        
}


.container button:first-of-type {
  background-color: #fea613;
  color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  width: 150px;
}

.container button:last-of-type {
  background-color: #fd8087;
  color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
   width: 150px;
}
